*{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100vw;
	height: 100vh;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.panel{
	width: 90vw;
	max-width: 450px;
	background-color: white;
	border-radius: 20px;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.panel .forms{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}
input{
	padding: 20px;
	border-radius: 5px;
	border: 1px solid lightcoral;
}
footer{
	margin-top: 30px;
}
footer button{
	padding: 20px;
	border: none;
	font-family: sans-serif;
	border-radius: 15px;
	cursor: pointer;
}
footer button:nth-child(1){
	background-color: lightgreen;
}
footer button:nth-child(2){
	background-color: lightcoral;
}